body {
  background-image: url(./assets/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 100px;
    color: rgb(44, 227, 93);
    text-align: center;
    font-size: 40px;
    background-color: aliceblue;
    border-radius: 50px;
  }

  h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 17px;
    text-align: center;
  }

  .main-container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
  }

  .container1 {
    width: 50%;
  }

  .container1-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .container2 {
    width: 43%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  input {
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: none;
  }

  .refresh {
    width: 60px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(94, 239, 106);
    border: none;
    border-radius: 5px;
    color: white;
  }

  .submit {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(25, 200, 25);
    color: white;
  }

  .player-details {
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(221, 248, 181);
  }

  .even {
    background-color: rgb(195, 239, 172);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    margin-bottom: 100px;
    color: rgb(44, 227, 93);
    text-align: center;
    font-size: 60px;
    background-color: aliceblue;
    border-radius: 50px;
  }

  h2 {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  .main-container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
  }

  .container1 {
    width: 50%;
  }

  .container1-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container1-heading button {
    height: 30px;
    width: 100px;
  }

  .container2 {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .container2-content {
    width: 82%;
  }

  input {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 7.1px;
    border: none;
  }

  .refresh {
    cursor: pointer;
    background-color: rgb(94, 239, 106);
    border: none;
    border-radius: 5px;
  }

  .submit {
    width: 100px;
    height: 30px;
    float: right;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(25, 200, 25);
    color: white;
  }

  .player-details {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(221, 248, 181);
  }

  .even {
    background-color: rgb(195, 239, 172);
  }
}
